@import 'fonts';
@import 'bootstrap-reboot.min';
@import 'bootstrap-grid.min';
@import 'slick';
@import 'slick-theme';

$white: #fff;
$light-dark: #dddddd;
$gray: #f8f8f8;
$dark: #555555;
$red: #c0301c;

%clear-list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

%clear-link {
	color: inherit;
	text-decoration: none;
}

%button {
	display: inline-block;
	padding: 0.7rem 2rem;
	background-color: transparent;
	border: 2px solid $white;
	border-radius: 2px;
	vertical-align: middle;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	font-family: 'Roboto Slab', sans-serif;
	color: $dark;
}

h1, h2, a, button {
	font-family: 'Montserrat', 'Roboto Slab', sans-serif;
}

.gray {
	background-color: $gray;
}

.top-bg {
	color: $white;
	min-height: 770px;
	background-image: url("../img/bg1.png");
	background-repeat: repeat-x;
	background-position: center top;
	margin-bottom: 10px;
}
.darker {
	background-color: rgba(0,0,0, 0.4);
	min-height: 770px;
	padding-top: 30px;
}

.logo {
	font-size: 1.5rem;
	font-weight: bold;
	position: relative;
	margin-bottom: 0;
}

.toggler {
	@extend %clear-link;
	position: absolute;
	right: 0;
	display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    transition: color 0.3s;

    &:hover {
    	color: $red;
		text-decoration: none;
    }
}


.nav {
	font-size: 0.85rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s;

	&__list {
		@extend %clear-list;
	}

	&__link {
		@extend %clear-link;
		display: inline-block;
		padding: 0.4rem 1rem;
		width: 100%;
		vertical-align: middle;
		font-size: 14px;
		transition: color 0.3s;

		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}

.welcome {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 310px;
	text-align: center;
	z-index: 1;

	&__header {
		font-size: 3rem;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__header2 {
		font-size: 1.25rem;
		font-weight: normal;
		text-transform: capitalize;
		margin-bottom: 3rem;
	}

	&__button {
		@extend %button;
		@extend %clear-link;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $red;
			background-color: $white;
			text-decoration: none;
		}
	}
}

.common-block {
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;

	&__header {
		font-size: 1.25rem;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	&__line {
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		border-bottom: 2px solid $dark;
		margin-bottom: 20px;
	}

	&__paragraph {
		margin-bottom: 60px;
	}

	&__links {
		@extend %clear-list;
		display: flex;
		justify-content: center;
		margin-bottom: 60px;

		a {
			@extend %clear-link;
			font-family: 'Roboto Slab', sans-serif;
			padding: 14px;
			transition: color 0.3s;

			&:hover {
				color: $red;
			}
		}
	}
}

.small-block {
	font-size: 14px;
	div {
		width: 90px;
		height: 90px;
		line-height: 82px;
		font-size: 50px;
		margin: auto;
		border: 2px solid $light-dark;
		border-radius: 50%;
		margin-bottom: 20px;
		color: $red;
		transition: all 0.3s;

		&:hover {
			color: $white;
			background-color: $red;
		}
	}

	h3 {
		font-family: "Montseat", sans-serif;
		font-size: inherit;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	p {
		font-size: 14px;
		text-align: justify;
	}
}

.about-us__paragraph {
	font-size: 14px;
	text-align: left;
	margin-bottom: 60px;
}

.people {
	@extend %clear-list;
	text-align: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 291px;

	@media (min-width: 768px) {
		width: 582px;
	}
	@media (min-width: 992px) {
		width: 873px;
	}
	@media (min-width: 1200px) {
		width: 1164px;
		margin-left: -12px;
		margin-right: -12px;
	}

	&__face {
		margin-bottom: 14px;
		position: relative;
		img {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}

		&:hover .people__face-hover {
			visibility: visible;
			opacity: 1;
		}
	}

	&__face-hover {
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s ease-out;

		display: flex;
		padding: 30px;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(120,120,120,0.4);

		a {
			display: block;
			width: 28px;
			height: 28px;
			line-height: 28px;
			color: $white;
			text-decoration: none;
			transition: background-color 0.3s;

			&:hover {
				background-color: $red;
			}
		}
	}

	&__name {
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		margin-bottom: 5px;
	}

	&__profession {
		font-size: 13px;
	}

	.slick-slide {
		width: 263px;
		margin: 0 14px;
		&:focus {
			outline: none;
		}
	}
	.slick-arrow {
		position: absolute;
		padding: 0;
		width: 35px;
		height: 35px;
		border: none;
		background-color: inherit;
		top: 120px;
		z-index: 10;
		&:hover .icon-angle-right:before,
		&:hover .icon-angle-left:before {
			background-color: $red;
		}
	}
	.slick-prev:before	{
    	content: '';
    	left: 14px;
	}
	.slick-next:before {
    	content: '';
    	right: 14px;
	}
	.slick-prev	{
    	left: 14px;
	}
	.slick-next {
    	right: 14px;
	}
	.icon-angle-right:before, .icon-angle-left:before {
		display: block;
		height: 100%;
		width: 100%;
		text-align: center;
		line-height: 35px;
		margin: 0;
		font-size: 25px;
		background-color: rgba(0,0,0,0.2);
		color: $light-dark;
		transition: background-color 0.3s;
	}
}

.photo {
	width: 100%;
	height: auto;
	vertical-align: middle;

	&__wrap {
		position: relative;
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		&:hover .photo__hover {
			visibility: visible;
			opacity: 1;
		}
	}

	&__hover {
		visibility: hidden;
		opacity: 0;
		transition: opacity 1s ease-out;

		display: flex;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		color: $white;
		background: rgba(192, 48, 28,0.7);

		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			text-transform: capitalize;
			font-weight: normal;
		}

		p {
			font-size: 13px;
		}

		button {
			font-family: 'Roboto Slab', sans-serif;
			font-size: 14px;
			display: inline-block;
			padding: 0.4rem 1rem;
			color: $red;
			background-color: white;
			border: 1px solid transparent;
			vertical-align: middle;
			text-transform: uppercase;
			white-space: nowrap;
			-webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
			max-width: 100px;
		    letter-spacing: 2px;
		    cursor: pointer;
		    .icon-angle-right:before {
		    	font-size: 1rem;
		    	font-weight: bold;
		    	line-height: 24px;
		    }
		}
	}
}

.red {
	min-height: 369px;
	background-color: rgba(192, 48, 28, 0.6);
}

.middle-bg {
	position: relative;
	color: $white;
	min-height: 369px;
	background-image: url("../img/bg2.png");
	background-repeat: repeat-x;
	background-position: center top;

	h2 {
		font-family: 'Roboto Slab', sans-serif;
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 3rem;
	}

	a {
		@extend %button;
		@extend %clear-link;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $red;
			background-color: $white;
			text-decoration: none;
		}
	}
}

.articles {
	padding: 20px 0;
}

.picture {
	max-width: 460px;
	margin-left: 0;
	margin-bottom: 20px;

	img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

.advice {
	text-align: left;

	&__pubdate {
		display: block;
		width: 76px;
		height: 76px;
		border: 2px solid #555555;
		padding-top: 14px;

		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		font-size: 1.5rem;
		color: #777777;
		line-height: 20px;
		text-align: center;
	}

	&__month {
		font-size: 14px;
		text-transform: uppercase;
	}

	a {
		@extend %clear-link;
		transition: color 0.3s;

		&:hover {
			@extend %clear-link;
			color: $red;
		}
	}
	
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__by {
		font-style: italic;
		font-size: 13px;
		margin-bottom: 8px;
		a {
			font-family: 'Roboto Slab', sans-serif;
		}
	}

	&__content {
		font-size: 14px;
		padding-top: 20px;

		margin-bottom: 25px;
	}
}

.read-more {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.clients {
	@extend %clear-list;
	text-align: center;
	padding-bottom: 95px;
	padding-top: 95px;

	li:focus {
		outline: none;
	}
	&__list-logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
		@media (min-width: 992px) {
			flex-direction: row;
		}

		div {
			margin: 5px 33px;
		}
	}

	q {
		display: block;
		font-size: 18px;
		font-style: italic;
		margin-bottom: 2rem;
	}
	p {
		font-size: 20px;
	}
	.slick-dots {
		bottom: 60px;
	}
	.slick-dots li {
		margin: 0;
	}
	.slick-dots button {
		width: 13px;
		height: 13px;
		border: none;
		border-radius: 50%;
		background-color: $light-dark;
		transition: background-color 0.3s;

		&:hover {
			background-color: $red;
		}

		&::before {
			content: '';
		}
	}

	.slick-active button {
		background-color: $red;
	}
}

.address-wrap {
	position: relative;
	padding-left: 2rem;
	text-align: left;
	font-size: 12px;
	margin-bottom: 2rem;

	i {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 1.3rem;
		line-height: 1;
		&::before {
			margin-left: 0;
		}
	}

	h4 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	a {
		@extend %clear-link;
		&:hover {
			text-decoration: none;
			color: $red;
		}
	}
}

.form-contact {
	font-size: 12px;

	textarea {
		height: 100px;
	}

	input, textarea {
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
		border: 1px solid $dark;
		text-transform: uppercase;

		&:focus {
			outline: none;
			border-color: $red;
		}
	}
	[type="submit"] {
		width: 100%;
		cursor: pointer;
		
		background-color: transparent;
		transition: all 0.3s;

		&:hover {
			color: $white;
			background-color: $red;
			border-color: $red;
		}

		@media (min-width: 768px) {
			width: 170px;
		}
	}

	small {
		font-size: 12px;
		margin-left: 2rem;
		display: block;
		@media (min-width: 992px) {
			display: inline;
		}

		&::before {
			content: "* ";
			color: $red;
		}
	}
}
.text-align-left {
	text-align: left;
}

footer {
	color: $white;
	text-align: center;
	background-color: $red;
	padding-bottom: 40px;
	padding-top: 40px;

	.feedback {
		@extend %clear-list;
		display: flex;
		justify-content: center;
		margin-bottom: 22px;

		a {
			@extend %clear-link;
			display: block;
			width: 35px;
			height: 35px;
			border: 2px solid $white;
			border-radius: 50%;
			margin-right: 13px;
			line-height: 31px;
			transition: color 0.3s;

			&:hover {
				background-color: $white;
				i {
					transition: color 0.3s;
					color: $red;
				}
			}
		}
	}

	.common-block__line {
		border-bottom-color: $white;
	}

	.copy {
		font-size: 12px;
		text-transform: uppercase;
	}
}

/*
  ----- MEDIA -----
*/

@media (min-width: 768px) {
	.toggler {
		display: none;
	}
	.nav {
		overflow: visible;
		&__list {
			display: flex;
		}
	}
	.common-block {
		padding-bottom: 90px;
		padding-top: 90px;
	}

	footer {
		padding-bottom: 90px;
		padding-top: 90px;
	}
}

@media (min-width: 992px) {
	.picture {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}
}
